.product {
  display: inline-block;
  border-bottom: 1px lightgrey solid;
  margin: 15px auto 30px; }
  .product .image img {
    width: 100%; }
  .product .text h3 {
    height: 2em; }
  .product .info {
    margin-bottom: 10px;
    display: inline-block; }
    .product .info .price {
      white-space: nowrap; }

.album {
  min-height: 400px; }

.single-album .image img {
  width: 100%; }

.add-to-cart-btn {
  width: 100%; }

.review-form button {
  margin: auto;
  display: block; }
