nav {
  height: 60px;
  padding-top: 5px; }
  nav #logo {
    max-height: 55px; }
  nav .store-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 10px; }

.dropdown-menu {
  /*background-image: url("/images/vinyl-wallpaper-bw.jpg");*/ }

.navbar-right {
  margin-right: 5px; }

#social-icon-group {
  display: block;
  margin: 0 auto; }

.dropdown-menu > li > a.btn-social-icon {
  display: inline-block; }
