/*nav img {
  max-height: 55px; }*/
#logo {
  height: 100%;
  width: 100%;
}

.navbar .navbar-brand img {
  height: 100%;
}

nav {
  background-image: url("/images/vinyl-wallpaper-bw.jpg");
  height: 60px; }

.dropdown-menu {
  background-image: url("/images/close-up-record-light.jpg"); }

#social-icon-group {
  display: block;
  margin: 0 auto; }

.dropdown-menu > li > a.btn-social-icon {
  display: inline-block; }
