nav img {
  max-height: 55px; }

nav {
  background-image: url("/images/vinyl-wallpaper-bw.jpg"); }

.col-md-3 {
  border: solid thin blue; }

#blue li a {
  font-weight: bold;
  color: white; }

#body {
  margin: 20px 0 0 0; }
