nav {
  height: 60px;
  padding-top: 5px; }
  nav #logo {
    max-height: 55px; }
  nav .store-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 10px; }

.dropdown-menu {
  /*background-image: url("/images/vinyl-wallpaper-bw.jpg");*/ }

#search {
  width: 40vw; }

.navbar-right {
  margin-right: 5px; }

#social-icon-group {
  display: block;
  margin: 0 auto; }

.dropdown-menu > li > a.btn-social-icon {
  display: inline-block; }

.product {
  display: inline-block;
  border-bottom: 1px lightgrey solid;
  margin: 15px auto 30px; }
  .product .text h3 {
    height: 2em; }
  .product .info {
    margin-bottom: 10px;
    display: inline-block; }
    .product .info .price {
      white-space: nowrap; }

.album {
  min-height: 400px; }

#blue li a {
  font-weight: bold;
  /*color: white;*/ }

body {
  /*background-image: url("/images/close-up-record-light.jpg");*/
  background-size: contain; }

@media (min-width: 768px) {
  /*//   .table-row {
//    display: table;
//    table-layout: fixed;
//  }
//
//  .table-row [class^="col-"] {
//    display: table-cell;
//    float: none;
//  }*/ }
