/*
MUST INCLUDE IMPORT STATEMENTS FOR OTHER .SCSS FILES UP TOP HERE
e.g., @import "albums"
*/
* {
  color: white; }

img {
  max-height: 55px; }

.row {
  background-image: url("/images/record_background.jpg");
  height: 60px; }

.col-md-5 {
  vertical-align: middle; }
