nav {
  height: 60px;
  padding-top: 5px; }
  nav #logo {
    max-height: 55px; }
  nav .store-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 10px; }

.dropdown-menu {
  /*background-image: url("/images/vinyl-wallpaper-bw.jpg");*/ }

#search {
  width: 40vw;
  max-width: 550px; }

.navbar-right {
  margin-right: 5px; }

#social-icon-group {
  display: block;
  margin: 0 auto; }

.dropdown-menu > li > a.btn-social-icon {
  display: inline-block; }

@media screen and (max-width: 1200px) {
  #search {
    max-width: 350px; } }

.product {
  width: 100%;
  display: inline-block;
  border-bottom: 1px lightgrey solid;
  margin: 15px auto 30px; }
  .product .image img {
    width: 100%; }
  .product .text h3 {
    height: 2em; }
  .product .info {
    margin-bottom: 10px;
    display: inline-block; }
    .product .info .price {
      white-space: nowrap; }

.album {
  min-height: 400px; }

.single-album .image img {
  width: 100%; }

.add-to-cart-btn {
  width: 100%; }

.review-form button {
  margin: auto;
  display: block; }

.cart-button-box {
  margin: 0 auto; }

.cart-btn {
  color: white;
  margin: 0 40px 0 40px; }

td {
  text-align: center; }

th {
  text-align: center; }

.input-group.quantity-input input {
  width: 50px;
  text-align: center;
  display: block;
  margin: 0 auto; }

#quantity-bar {
  width: 50px; }

.remove-icon {
  color: #000;
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
  width: 21px;
  height: 21px; }

.remove-icon:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.remove-icon:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.checkout-login {
  margin-top: 40px; }

.checkout-email .checkout-password {
  margin-left: 20px; }

#blue li a {
  font-weight: bold;
  /*color: white;*/ }

body {
  /*background-image: url("/images/close-up-record-light.jpg");*/
  background-size: contain; }

@media (min-width: 768px) {
  /*//   .table-row {
//    display: table;
//    table-layout: fixed;
//  }
//
//  .table-row [class^="col-"] {
//    display: table-cell;
//    float: none;
//  }*/ }
