.checkout-login {
    margin-top: 40px;
}

.col-md-2.checkout-firstName {
    margin-left: 20px;
    margin-bottom: 20px
}

.col-md-2.checkout-billing-address {
    margin-left: 20px;
    margin-bottom: 20px
}

.col-md-2.checkout-ccn {
    margin-left: 20px;
    margin-bottom: 20px;
}

.grand-total {
    text-align: left;
}