nav {
  height: 60px;
  padding-top: 5px;
  z-index: 99;
  
  a:hover, a:link, a:visited, a:active {
    text-decoration: none;
  }

  #logo {
    max-width: 76px;
    margin-top: -10px;
    margin-left: -34px;
  }

  .store-name {
  	font-size: 2.4em;
  	font-weight: bold;
  	margin-left: 10px;
    font-family: 'Permanent Marker';
    color: black;
  }

  .genre {
    margin-left: 30px;
  }
}

.dropdown-menu {
  /*background-image: url("/images/vinyl-wallpaper-bw.jpg");*/
}

#search {
  width: 30vw;
  max-width: 420px;
}
.navbar-right {
  margin-right: 5px;
}

#social-icon-group {
  display: block;
  margin: 0 auto;
}

.dropdown-menu>li>a.btn-social-icon {
  display: inline-block;
}

@media screen and (max-width: 1200px) {
  #search {
    max-width: 18vw;
  }
}