@import "header";
@import "album";


.col-md-3 {

}

#blue li a {
  font-weight: bold;
  color: white;
}


body {

  background-image: url("/images/close-up-record-light.jpg");
  background-size: contain;
}

#body img {
  // max-height: 200px;
}



@media (min-width: 480px) {

}

@media (min-width: 768px) {
//   .table-row {
//    display: table;
//    table-layout: fixed;
//  }
//
//  .table-row [class^="col-"] {
//    display: table-cell;
//    float: none;
//  }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
