@import "header";
@import "hero";
@import "album";
@import "shopping_cart";
@import "checkout";
@import "confirmation";
@import "signup";

#blue li a {
  font-weight: bold;
  /*color: white;*/
}

body {

  // background-image: url("/images/record-store-photo.jpg");
  background-size: contain;
}

h1 {
	font-family: 'Permanent Marker';
}
#body img {
  // max-height: 200px;
}

.hero {
	img {
		width: 100%;
		margin-top: -26px;
		opacity: 0.4;
		filter: grayscale(100%);
	}
}



// @mixin make-cols ($type) {
// 	@for $i from 1 through 12 {
// 		.col-#{$type}-#{$i} {
// 			float: left;
// 			width: $i * 100%/12;
// 			padding: 0 $gutter-size;
// 		}
// 	}
// }
//
// $type-sizes: (
// 	sm: 800px,
// 	md: 1000px,
// 	lg: 1200px
// );
//
// @each $type, $size in $type-sizes {
// 	@media screen and (min-width: $size) {
// 		@include make-cols($type);
// 	}
// }

@media (min-width: 480px) {

}

@media (min-width: 768px) {
/*//   .table-row {
//    display: table;
//    table-layout: fixed;
//  }
//
//  .table-row [class^="col-"] {
//    display: table-cell;
//    float: none;
//  }*/
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
