/*
MUST INCLUDE IMPORT STATEMENTS FOR OTHER .SCSS FILES UP TOP HERE
e.g., @import "albums"
*/
@import "header";

.col-md-3 {
  border: solid thin blue;
}

.navbar-nav {
  font-weight: bold;
}

#body {
  margin: 20px 0 0 0;

}

@import "album";
