.cart-button-box {
  margin: 0 auto
}

.cart-btn {
  color: white;
  margin: 0 40px 0 40px;
}

td {
  text-align: center
}

th {
  text-align: center
}

.input-group.quantity-input input {
  width: 50px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

#quantity-bar {
  width: 50px;
}

.remove-icon {
  color: #000;
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
  width: 21px;
  height: 21px;
}

.remove-icon:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.remove-icon:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}